@tailwind base;
@tailwind components;
@tailwind utilities;

.border-gold {
  border-top-color: #fbbf24;
}
.border-green {
  border-top-color: #4ade80;
}
.border-blue {
  border-top-color: #60a5fa;
}
.border-red {
  border-top-color: #f87171;
}
.border-gray {
  border-top-color: #9ca3af;
}